html, body {
    cursor: url("http://zergee.clan.su/SC2-cursor-zerg-small.cur"), auto;
    text shadow:1px 1px 1px #000000;
    scrollbar face color: #4C5844;
    scrollbar shadow color: #4C5844;
    scrollbar highlight color: #4C5844;
    scrollbar 3dlight color: #818D7C;
    scrollbar darkshadow color: #1C261E;
    scrollbar track color: #5A6A50;
    scrollbar arrow color: #969F8E;
    }

a, a:link , a:visited {
    font-weight:normal;
    cursor:url("http://zergee.clan.su/hover.cur"), auto;
    text-decoration: none !important;
    color:#a7a7a7;
    border-bottom: 1px #a7a7a7 dotted;
    zoom:1; /* для IE6 и IE7 */
	}

a:hover, a:active {	
    font-weight:normal;
    cursor:url("http://zergee.clan.su/hover.cur"), auto;
    text-decoration: none !important;
    color:#525252;
    border-bottom: 1px #525252 dotted;
    zoom:1; /* для IE6 и IE7 */
   }

/*выделение мышью*/
/* Firefox */
:: moz selection {
    background:#8b00ff;
    color:#ffffff;
}

/* Safari */
::selection {
    background:#8b00ff;
    color:#ffffff;
}
